---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="STANN.co">
	<header>
		<span class="logo">STANN.co</span>
		<nav>
			<ul>
				<li><a href="/art-bookmarks/">Art Bookmarks</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<p>I go by STANN online</p>
	</main>
	<Footer />
</Layout>
