/* #region Font Faces */
/* Hyperlegible Font Face */
@font-face {
	font-family: "Hyperlegible";
	src: url("../assets/fonts/AtkinsonHyperlegible-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/* Hyperlegible Bold */
@font-face {
	font-family: "Hyperlegible";
	src: url("../assets/fonts/Atkinson-Hyperlegible-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

/* Hyperlegible Italic */
@font-face {
	font-family: "Hyperlegible";
	src: url("../assets/fonts/Atkinson-Hyperlegible-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

/* Hyperlegible Bold Italic */
@font-face {
	font-family: "Hyperlegible";
	src: url("../assets/fonts/Atkinson-Hyperlegible-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

/* Action Man Font Face */
@font-face {
	font-family: "Action Man";
	src: url("../assets/fonts/Action_Man.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

/* Action Man Bold */
@font-face {
	font-family: "Action Man";
	src: url("../assets/fonts/Action_Man_Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

/* Action Man Bold Italic */
@font-face {
	font-family: "Action Man";
	src: url("../assets/fonts/Action_Man_Bold_Italic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}
/* #endregion */

:root {
	/* Color vars */
	--color-side: #202024;
	--color-bg: #464851;
	--color-nav: #31333b;
	--color-blue: #1867cd;
}

/* Example usage */
.hyperlegible {
	font-family: "Hyperlegible", Arial, sans-serif;
}

.action-man {
	font-family: "Action Man", Arial, sans-serif;
}

.fill-x {
	width: 100%;
}

* {
	margin: 0;
	font-family: "Hyperlegible", Arial, sans-serif;
	color: white;
	font-size: 18px;
}

main {
	background-color: var(--color-side);
}

header,
footer {
	background-color: var(--color-nav);
	text-align: center;
}

footer {
	padding: 1.5em;
	p {
		margin: 0;
		margin-top: 1em;
	}
}

nav {
	padding: 0;
	margin: 0;
	text-align: center;
	align-items: center;
	display: inline-flex;
	a {
		padding: 1em;
		text-decoration: none;
		color: white;
		font-weight: bold;
		font-size: 24px;

		&:hover{
			background-color: var(--color-bg);
			box-shadow: 0px 6px 15px black;
		}
	}
}

h2{
	font-size: 32px;
	margin: 0.5em 0;
	font-style: italic;
}

h3{
    position: relative;
    font-family: "Action Man";
    color: var(--color-blue);
    font-size: 48px;
    text-align: center;
    margin: 0.5em 0;
	z-index: 0;

	&::before{
		content: attr(data-text);
		position: absolute;
		right: 0;
		left: 0;
		/* I fucking hate chrome */
		text-align: center;
		color: #fff; /* outline color */
		z-index: -1;
		pointer-events: none;
		-webkit-text-stroke: 8px white;
		text-shadow: 0px 4px 10px black;
	}
}

p {
	line-height: 1.2em;
	margin: 1em 0;
}

ul {
	margin: 2em 0;
}


.contents {
	max-width: 1000px;
	margin: auto;
	background-color: var(--color-bg);
	position: relative;
    overflow: visible;
}

.contents-inner{
	max-width: 700px;
	margin: auto;
}

.pengu-slide-bar {
	cursor: default;
	text-align: center;
	display: flex;
	img {
		width: 10.5%;
		flex: auto;
	}
}

.steam-wishlist{

	text-align: center;
	width: 100%;

	a{
		display: inline-flex;
		width: 469px;
		height: 117px;
		background-color: var(--color-nav);
		padding: 1em;
		margin: 10em 0;
		text-decoration: none;
		border-radius: 100px;
		
		p{
			align-self: center;
			flex: auto;
			font-size: 35px;
			font-weight: bold;
			text-align: center;
		}

		img{
			height: 100%;
		}

		&:hover{
			background-color: var(--color-light-blue);
			box-shadow: 0px 6px 15px black;
		}
	}
}

.socials {
	img {
		width: 32px;
		height: 32px;
		margin: 0 0.5rem;
		transition: 0.3s;
		&:hover {
			scale: 1.2;
		}
	}
}

/* Override on phone screens */
@media (max-width: 700px) {
	*{
		font-size: 14px;
	}

	h2{
		font-size: 20px;
	}

	h3{
		font-size: 30px;

		&::before{
			-webkit-text-stroke: 5px white;
			text-shadow: 0px 4px 10px black;
		}
	}

	nav {
		a {
			padding: 1em;
			font-size: 16px;
		}
	}

	.contents-inner{
		padding: 1em;
	}

	.steam-wishlist{

	text-align: center;
	width: 100%;

	a{
		width: 230px;
		height: 56px;
		padding: 1em;
		margin: 5em 0;
		border-radius: 100px;
		
		p{
			font-size: 20px;
		}
	}
}
	
}