.banner{
	display: grid;
  	overflow: hidden;

	h1, .background-image {
		grid-area: 1 / 1;	
	}

	h1{
		place-self: center;

	}

	.background-image{

		height: 100px;
		img{
			width: 100%;
		}
	}
}



.wojak {
    position: absolute;
    bottom: 0;
    z-index: 50;       /* higher than banner/background */
    width: auto;
    max-width: 20%;    /* adjust size as needed */
    pointer-events: none; /* optional: allow clicks through */
}

/* first .wojak -> lower left */
.wojak:first-of-type {
    left: 0;
    transform: translateX(0);
}

/* second .wojak -> lower right */
.wojak:last-of-type {
    right: 0;
    transform: translateX(0);
}
